* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.uniContainer,
.ixtisasContainer {
  margin: 8% 5% 0 5%;

  h1 {
    color: rgb(255, 0, 0);
    font-weight: 200;
    padding-bottom: 20px;
  }

  h2 {
    color: red;
    transition: 0.5s;
    margin-bottom: 10px;
    font-weight: lighter;
  }
  p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.512);
  }
}

.cards {
  gap: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .card {
    padding: 20px;
    transition: 0.5s;
    border: 2px solid rgba(255, 0, 0, 0.602);
  }
}

.card:hover h2 {
  color: green;
}

.card:hover {
  border: 2px solid green;
}
